extends ../../layout/common

block content
	table.table
		tr
			th Temparature
			th pH
			th Time

		each sensor in sensors
			tr
				td= sensor.temp
				td= sensor.ph
				td= sensor.time

	a.btn.btn-primary(href='/send') Send