extends ../../layout/common

block content
	a.btn.btn-primary(href='#') Pond Manager
	br
	a.btn.btn-primary(href="#") Sensor Manager
	br
	a.btn.btn-primary(href='#') Warning
	br
	a.btn.btn-primary(href='/auth/logout') Log out